@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-img {
  background-image: url('../../public/pictures/bg1.jpg');
}

.promo-1 {
  background-image: url('../../public/pictures/bg1.jpg');
}

.promo-2 {
  background-image: url('../../public/pictures/promo-2.webp');
}